body {

    background-image: url('C:\Users\Admin\Desktop\lecture\REACT JS COURSE\capstone\src\common\slide-ecommerce.jpg');
    background-size: cover;
    background-position: center;
    position: relative;
    background-repeat: no-repeat;


}

.form-container{

    background:transparent;
    top: 50%;
    left: 20%;
    z-index: 101;
    transform: translate(-50% , -50%);
    position: absolute;
    max-width: 320px;
    width: 100%;
    padding: 25px;
    border-radius: 12px;
    box-shadow: rgb(0, 0, 0);
 }

 .form-container h2{
      font-size: 22px;
      text-align: center;
      color: white;
 }

 .form-input{

    margin-top: 30px;
    position: relative;
    height: 40px;
    width: 100%;

 }
.form-input input{

   height: 100%;
   width: 100%;
  border-radius: 5px;
  padding: 0 30px;
  color: #7d2ae8; 
  transition:  all 1s ease;
  border: none;
  
  
}

.form-input input :focus{
    
    border-color: rgb(230, 3, 3);


}
.form-container .sign-in-btn{

    background: #7d2ae8;
    width: 100%;
    padding: 12px 0;
    margin-top: 20px;
    border-radius: 10px;
    color: white;
    cursor: pointer;
}

.sign-up{

    font-size: 12px;
    margin-top: 15px;
    text-align: center;
    color: white;


}
.form-container:hover{

    border: 2px solid #7d2ae8;
}

